@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter-display), sans-serif;
}

body {
  font-family: var(--font-inter-display), sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 22s linear infinite;
}
